/* PROJECT VARIABLES
**********************/

// $background-color: #F0F8FF;
// $background-alt-color: #d7e2ee;
// $font-color: #272d2d;
$accent-red: #e54b4b;
$accent-red-hover: #cd4242;
$accent-green: #57A773;
$accent-green-hover: #488c60;

$background-color: #2f2b3a;
$background-color-alt-line: #26222f;
$background-alt-color: #1a1625;
$font-color: white;
$font-color-alt: #ffffff;
$accent-purple: #a688fa;
$accent-purple-hover: #896fd1;

$border-radius: 8px;
$box-shadow: 0 0 3px rgba(0,0,0,0.3);
