/* PROJECT VARIABLES
**********************/

$background-color: #F0F8FF;
$background-alt-color: #ebf5ff;
$font-color: #272d2d;
$accent-red: #e54b4b;
$accent-red-hover: #cd4242;
$accent-green: #57A773;
$accent-green-hover: #488c60;

$border-radius: 8px;
$box-shadow: 0 0 4px rgba(0,0,0,0.1);
