@use '../../global-css/variables';
@use '../../global-css/mixins';

.side-bar {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    height: 100vh;
    padding: 30px;
    box-shadow: variables.$box-shadow;
    background-color: variables.$background-color;
    position: fixed;
}

.sign-out {
    @include mixins.colored-button;
    margin-top: 15px;
    background-color: variables.$accent-red;
}
.sign-out:hover {
    background-color: variables.$accent-red-hover;
}

.app-name {
    padding-bottom: 60px;
}