@use '../../../global-css/variables';
@use '../../../global-css/mixins';

.hero-section {
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-content: baseline;
    padding-bottom: 30px;

    .page-title {
        
    }

    .hero-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        justify-content: end;
        

        .add-account,
        .add-transaction {
            @include mixins.colored-button;
            background-color: variables.$accent-purple;
        }
        .add-account:hover,
        .add-transaction:hover {
            background-color: variables.$accent-purple-hover;
        }
    }
}