@use '../../../global-css/mixins';
@use '../../../global-css/variables';

.transactions-dashboard {
    div {
        div {
            div {
                display: grid;
                grid-template-columns: 4fr 1fr 1fr;
                justify-content: space-between;

            }
        }
    }
}

.transactions-line {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
}

.transactions-title {
    
}

.transactions-type {
    font-size: .7em;
    font-weight: 700;
    text-transform: uppercase;
    color: variables.$background-color;
    background-color: variables.$accent-green;
    width:fit-content;
    padding: 3px 6px;
    border-radius: 16px;
    margin: 0 auto;
}

.transactions-amount {
       text-align: right;
    }

.transactions-line:nth-of-type(odd) {
    background-color: variables.$background-alt-color;
}